@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    padding-top: 30px;
    margin-bottom: 30px;
    height: 80px;
    display: flex;
}

img {
    width: 100%;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    position: relative;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 56px;
    color: #000;
    text-align: center;
}

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

.btn {
    background-color: #000;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.purple {
    color: #000;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

section#allergens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.allergens--title {
    margin: 0 30px;
    margin-bottom: 16px;
}

h2.allergens--sub-title {
    max-width: 1000px;
    margin: 0 30px;
    margin-bottom: 30px;
}

.allergens--download {
    width: 200px !important;
}

/* CUSTOM SCROLLBAR  */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    outline: none;
}

/* NAV BAR */

.logo {
    width: 80px;
    height: 80px;
    font-size: 40px;
    cursor: pointer;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #000;
    border-radius: 4px;
    transition: all 300ms ease;
    margin-right: 20px;
    padding: 8px;
}

.nav__link--primary:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

.first-cart {
    font-size: 30px;
    width: 160px;
    text-align: center;
    color: black;
}

.first-cart:hover {
    text-decoration: none;
    cursor: pointer;
}

/* MOBILE MENU  */

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: #000;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.menu--open {
    max-height: 100vh;
    overflow: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible !important;
    opacity: 1;
    transform: translate(0);
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: white;
    font-size: 40px;
}

.btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
}

/* CART */
#cart-icon {
    cursor: pointer;
}

.cart-modal {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    overflow-x: hidden;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 300;
}

.cart-modal::-webkit-scrollbar {
    width: 10px;
}

.cart-modal::-webkit-scrollbar-thumb {
    background-color: black;
    outline: none;
}

.cart-modal.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 110px;
    height: 110px;
    object-fit: contain;
    padding: 10px;
    transform: scale(1.4);
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid #503621;
    outline-color: #503621;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: #503621;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.checkout-button {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 50px;
    border: none;
    background: #503621;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    width: 50%;
    text-align: center;
    transition: all 300ms ease;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.checkout-button:hover {
    background-color: black;
}

.checkout-button--notallowed {
    cursor: not-allowed;
}


#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.checkout__btn {
    height: 56px;
    font-size: 28px;
    border-radius: 32px;
    border: none;
    background-color: #503621;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0 0 0 / 20%);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 16px 20px 16px 20px;
}

.checkout__btn--active {
    display: flex !important;
}

.checkout__cart {
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
    width: 100%;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

/* Footer */

footer {
    position: relative;
    background-color: #000;
    display: flex;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo--img {
    width: 100px;
    filter: invert();
}

.footer__social--list {
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: space-around;
    margin: 28px 0;
}

.footer__social--link,
.footer__copyright {
    color: white;
}

.footer__social--link:hover {
    text-decoration: underline;
}

/* Header */

.faqs--title {
    margin: 0 30px;
    margin-bottom: 32px;
}

.header__container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__description {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 23px;
}

.header__img--wrapper {
    width: 30%;
}

.header__img {
    transition: all 300ms ease;
}

.header__img--wrapper:hover .header__img {
    transform: scale(1.03);
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button--main {
    background-color: #fff;
    color: black;
    padding: 8px;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
    width: 150px;
    border-radius: 4px;
    font-weight: bold;
    border: 2px solid #000;
    transition: all 300ms ease;
}

.button--main:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}


.faq {
    margin-bottom: 30px;
}

/* RESPONSIVENESS */

@media (max-width: 550px) {
    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }
}

@media (max-width: 1200px) {
    .faqs {
        margin: 0 30px;
    }
}

@media (max-width: 768px) {
    .header__container {
        /* flex-direction: column; */
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }
}

@media (max-width: 690px) {
    .nav__link--primary {
        display: none;
    }
}

/* @media (max-width: 550px) {
    .faqs--title {
        padding-top: 200px;
    }

    .allergens--title {
        margin-top: 200px;
    }
} */

@media (max-width: 532px) {
    h1 {
        font-size: 35px;
    }
}

@media (max-width: 483px) {
    h1 {
        font-size: 30px;
    }
}
@media (max-width: 400px) {
    .cart-modal {
        width: 320px;
    }
}

@media (max-width: 360px) {
    .cart-modal {
        width: 280px;
    }
}